<body class="fondo" >

  <div class="container">
    <div class="row">
      <div class="col">
        
        <div>
          <div>
              <div style="display: block">
                  <canvas baseChart 
                  [colors]="roundColors" 
                  [data]="doughnutChartData" 
                  [options]="roundOptions" 
                  [labels]="doughnutChartLabels" 
                  [chartType]="doughnutChartType">
                  </canvas>
              </div>
          </div>
      </div>

      </div>
      <div class="col">
        
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row"><div class="col"></div> 

    </div>
    <div class="row">
      <div class="col">
        
        <div>
          <div>
            <div style="display: block">
              <canvas baseChart
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend" 
                [chartType]="polarAreaChartType"
                [options]="polarOptions"
                [colors]="polarColors"
                >
              </canvas>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>





</body>